modules/
my_account.session
my_account.session-journal
Global_config.json
Global_Config.json
core_conf.json
bot_config.json
restart_info.json
bot_session.session
bot_session.session-journal
auth_link.txt
auth_url.txt
web_url.txt
setup_url.txt
__pycache__/